*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bruno Ace SC;
    background-color: hsl(214.8deg 56.82% 17.25%);
    font-size:25px;
}
@font-face {
    font-family: [stranger];
    src: url('/css/font/stranger.ttf');
 }

html, body{
    height: 100%;
}
header{
    height: 100px;
    color: white;
    font-size:25px;
}
.menu{
    text-align: right;
    padding-top: 30px;
}
#meio{
    margin: 30px;
    font-size: 22px;
}
.menu h3{
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-right:60px;
}

.menu a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
}


#main {
    padding: 20px;
    color: white;
}
#main h3{
    padding: 10px;
    font-size: 22px;
    
}
#main h2{
    margin-top: 2px;
}
#trailer{
    margin: 0;
    margin-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
    
}

div.container1 {
    height: 10em;
    position: relative }
div.container1 p {
    margin: 0;
    color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
footer{
    margin-top: 100;
        }
        